
/*footer styling*/
.footer .social #icon {
    width: 50px;
}
.footer .social {
     text-align: center;
}

.modal-link:hover{
	 cursor: pointer;
	}

.hover-img {
  margin: 15px;
  box-shadow: none;
  transition: box-shadow 0.5s
}

.hover-img:hover {
  box-shadow: 0 10px 16px 0 #b5d1ff,0 6px 20px 0 #b5d1ff;
  z-index: 999;
}

.shoes {
  margin-top: 75px;
  margin-bottom: 75px;
}

.img-center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
